@charset "UTF-8";

* {
  box-sizing: border-box;
}
#navbar {
  border: 1px solid black;
}
#navbar ul {

}
#navbar li {

}


@media screen and (min-width: 320px) {
  
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
            "header"
            "navigation"
            "main";
  }

  .header {
    grid-area: header;
  }


  /* The main navbar */
  .navbar {
    border: 1px solid black;
    background-color: #207e7e;
    grid-area: navigation;
    height: 50px;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .navbar li {
    border: 1px solid yellow;
    display: ;
  }
  .navbar .title-logo {
    font-size: 20px;
    padding: 10px 20px 14px 10px;
  }
  .navbar .bell-icon {
    border: none;
    padding: 12px 11px;
  }
  .navbar #notifications {

  }
  .navbar .student img {
    border: 1px solid red;
    border-radius: 20px 20px;
    height: 30px;
    width: 30px;
    margin: 8px 8px;
  }
  .navbar .student {
    border: 1px solid black;
    color: black;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  /* ................................. */

  .sidebar-nav-icons {
    border: 1px solid red;
  }
  .sidebar-nav-icons li {
    display: inline-block;
    list-style: none;
    margin: 5px 5px;    
  }
  .sidebar-nav-icons .home {
    
  }
  .sidebar-nav-icons .home img {
    height: 30px;
    width: 30px;
  }
  .sidebar-nav-icons .chart img {
    height: 30px;
    width: 30px;
  }
  .sidebar-nav-icons .members img {
    height: 30px;
    width: 30px;
  }
  .sidebar-nav-icons .settings img {
    height: 30px;
    width: 30px;
  }

  .main {
    grid-area: main;
  }

  .Dashboard-area {
    border: 2px solid black;
  }
  .traffic-area {
    border: 2px solid red;
  }
  .Daily {
    border: 2px solid blue;
  }
  .mobile-users-area {
    border: 2px solid green;
  }
  .Social-container-area {
    border: 2px solid yellow;
  }
  .new-members-area {
    border: 2px solid grey;
  }
  .recent-activity-area {
    border: 2px solid turquoise;
  }
  .message-user-area {
    border: 2px solid navy;
  }
  .settings-area {
    border: 2px solid brown;
  }
  .form-field {
    border: 2px solid royalblue;
  }
  .settings-button {
    border: 2px solid red;
  }

  .widget-container-full,
  .widget-container-half {
    width: 95vw;
  }

}


@media screen (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 50%;
  }
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
        "header header"
        "navbar main";
  }
  .traffic-area,
  .social-container-area {
    grid-column: 1 / span 2;
  }
  .Daily,
  .new-members-area,
  .message-user-area {
    grid-column: 1 / span 1;
  }

  .mobile-users-area,
  .recent-activity-area,
  .settings-area {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }

}



@media screen (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }

}