@charset "UTF-8";

* {
  box-sizing: border-box;
}


#navbar {
  border: 1px solid black;
}
#navbar ul {

}
#navbar li {

}


/* Mobile css */
@media screen and (min-width: 320px) {
  
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
            "header"
            "navigation"
            "main";
  }

  .header {
    grid-area: header;
  }
  h1 {

  }
  h2 {

  }
  h3 {
    font-family: 'Martel-Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  p {
  
  }
  a {

  }

  /* The main navbar */
  .navbar {
    border: ;
    background-color: #207e7e;
    grid-area: navigation;
    height: 50px;
  }
  .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .navbar li {
    border: ;
  }
  .navbar .title-logo {
    font-family: Cinzel;
    color: whitesmoke;
    font-size: 20px;
    padding: 10px 20px 14px 10px;
  }
  .navbar .bell-icon {
    border: none;
    padding: 12px 11px;
  }
  .navbar #notifications {

  }
  .navbar .student img {
    border: ;
    border-radius: 20px 20px;
    height: 30px;
    width: 30px;
    margin: 8px 8px;
  }
  .navbar .student {
    border: ;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-family: Cinzel;
    font-size: 15px;
    margin: 0 0 0 10px;
    padding: 0 10px 0 20px;
  }
  /* ................................. */


  .sidebar-nav-icons {
    border: ;
    background-color: hsl(180, 58%, 51%);
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  .sidebar-nav-icons li {
    border: ;
    list-style: none;
    margin: 5px auto;
    padding: 5px 0 0 0;
  }
  .sidebar-nav-icons .home {
  
  }
  .sidebar-nav-icons .home img {
    color: white;
    height: 30px;
    width: 30px;
  }
  .sidebar-nav-icons .chart img {
    height: 30px;
    width: 30px;
  }
  .sidebar-nav-icons .members img {
    height: 30px;
    width: 30px;
  }
  .sidebar-nav-icons .settings img {
    height: 30px;
    width: 30px;
  }

  .main {
    grid-area: main;
  }


  .flex-container {
    border: ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .Dashboard-area {
    /* border: 2px solid hsl(180, 58%, 51%); */
  }
  .Dashboard-area h2 {
    border: ;
    margin: 0;
    padding: 5px 5px;
    font-family: Cinzel;
    font-size: 20px;
  }
  .Dashboard-area .tab {
    border: lightgray;
    background-color: silver;
    flex: 1 0 100%;
    margin: 0;
    padding: 10px;
  }
  .tab input {
    width: 100%;
  }



  .alert {
    border-radius: 5px;
    background-color: hsl(180, 58%, 51%);
    color: white;
    width: 100%;
    height: 100%;
    margin: 15px 0 15px 0;
    padding: 10px 10px;
  }
  .alert-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .alert-banner p {
    margin: 0;
  }
  .alert-banner-close {
    /* display: flex; */
    margin: 0;
    align-items: ;
  }



  .traffic-area {
    border: ;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin: 0;
    padding: 10px 0 15px 0;
  }
  .traffic-header {
    border: ;
  }
  .traffic-header h3 {
    border: ;
    margin: 0;
    padding: 5px 0 5px 0;
  }
  .traffic-nav {
    border: ;
    display: flex;
    align-items: ;
    list-style: none;
  }
  .traffic-nav li {
    border: ;
    font-family: 'Martel-Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    display: flex;
    margin: 0 auto;
    align-items: ;
    padding: 5px;
  }
  #traffic-chart {
    border: ;
  }



  .Daily {
    border: ;
    border-bottom: 1px solid lightgrey;
    margin: 0;
    padding: 10px 0 15px 0;
    width: 100%;
  }
  .Daily H3 {

  }




  .mobile-users-area {
    border: ;
    border-bottom: 1px solid lightgrey;
    margin: 0;
    padding: 10px 0 15px 0;
    width: 100%;
  }
  .mobile-users-area H3 {

  }



  .social-container-area {
    border: 2px solid grey;
    margin: 0;
    width: 100%;
  }
  .social-container-area h1{
    border: ;
    font-size: 16px;
    font-family: 'Martel-Sans', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 15px 0 15px 10px;
  }


  .social-container-facebook {
    border: 1px solid blue;
    border-radius: 5px;
    margin: auto;
    width: 95%;
    background-color: rgb(233, 221, 221);
    height: 100px;
  }
  .social-container-facebook .social-image {
    border:;
    float: left;
    width: 95px;
    height: 95px;
    padding: 5px 5px 5px 5px;
  }
  .social-container-facebook img {
    fill: blue;
    color: blue;
  }
  .social-container-facebook .social-text {
    border: 1px solid green;
    display: inline-block;
    width: 70%;
    height: 100%;
    padding: 5px 0 0 10px;
  }
  .social-container-facebook .social-text p {
    border: ;
    font-family: 'Martel-Sans', sans-serif;
    color: rgb(92, 92, 206);
    font-weight: 600;
  }


  .new-members-area {
    border: ;
  }
  .recent-activity-area {
    border: ;
  }
  .message-user-area {
    border: ;
  }
  .settings-area {
    border: ;
  }
  .form-field {
    border: 2px solid royalblue;
  }
  .settings-button {
    border: ;
  }

  .widget-container-full,
  .widget-container-half {
    width: 95vw;
  }

}


/* Tablet css */
@media screen (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 50%;
  }
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
        "header header"
        "navbar main";
  }
  .traffic-area,
  .social-container-area {
    grid-column: 1 / span 2;
  }
  .Daily,
  .new-members-area,
  .message-user-area {
    grid-column: 1 / span 1;
  }

  .mobile-users-area,
  .recent-activity-area,
  .settings-area {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }

}



@media screen (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }

}